<%= react_component 'Records', { data: @records } %>
<p id = "about">
  Application was build with help of
  <a href="https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers">
    this
  </a>
  tutorial to try ReactJS first time.
  <br/>
  <a href="https://github.com/GeorgeGorbanev/accounts">
    GitHub
  </a>
</p>
