// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import "bootstrap";

.records{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  h2{
    text-align: left;
  }
  thead{
    text-align: left;
  }
  tbody{
    text-align: left;
  }
  table .form-control{
    margin: 0;
  }
}

.form-inline{
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}


.form-control{
  margin-left: 20px;
  margin-right: 20px;
}

#about{
  font-size: 12pt;
  color: #999999;
  text-align: center;
}
